/* .element {
	height: 250px;
	width: 250px;
	margin: 0 auto;
	background-color: red;
	animation-name: stretch;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}

@keyframes stretch {
	0% {
		transform: scale(0.3);
		background-color: red;
		border-radius: 100%;
	}
	50% {
		background-color: orange;
	}
	100% {
		transform: scale(1.5);
		background-color: yellow;
	}
}

body,
html {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
} */
/* .element {
	width: 100%;
	height: 100%;
	animation: pulse 5s infinite;
}

@keyframes pulse {
	0% {
		background-color: #001f3f;
	}
	100% {
		background-color: #ff4136;
	}
}

html,
body {
	height: 100%;
} */
.App {
	text-align: left;
	min-height: 100vh;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	/* background-image: linear-gradient(180deg, #141055, #290f4b); */
	font-family: 'Macondo', cursive;
	justify-content: left;
	font-size: calc(10px + 2vmin);
	color: aqua;
}
.gradient {
	background-image: linear-gradient(
		to top left,
		#282c34,
		#152138,
		rgb(50, 29, 70)
	);
}
.setFont {
	font-size: 0.5rem;
	text-justify: inter-word;
	text-align: right;
}
.loel {
	display: inline-block;
	margin: 0 0.5rem;
	animation: zoomInLeft;
	animation-duration: 2.5s;
}
@keyframes zoomInLeft {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.nelson {
	display: inline-block;
	margin: 0 0.5rem;
	animation: zoomInRight;
	animation-duration: 2.5s;
}
@keyframes zoomInRight {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.made-by {
	display: inline-block;
	animation: fadeInDownBig;
	animation-duration: 0.5s;
}
@keyframes fadeInDownBig {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.heartPulse {
	animation: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}
.exit {
	animation: backOutUp;
	animation-duration: 1s;
}
.homepageGrid {
	display: grid;
	justify-content: center;
}
.columns {
	display: grid;
	justify-content: left;
	grid-auto-flow: column;
	color: aliceblue;
	width: min(90%, 75rem);
	padding: 0;
}
.border-primary {
	border: 0.05rem solid aqua;
}
.tag-grid {
	display: grid;
	font-size: 0.75rem;
	grid-template-columns: repeat(6, minmax(5rem, 1fr));
}
.grid-col-span-2 {
	grid-column: span 2;
}
.card {
	font-size: var(--fs-400);
	padding: 1rem;
	border-radius: 2rem;
}
@media (max-width: 35em) {
	.card {
		font-size: 2.5rem;
	}
}
.card-quote {
	color: aliceblue;
	font-family: 'Inter';
	font-weight: 'bold';
}
.custom-button {
	background-color: rgb(0, 0, 0, 0.00001);
	color: aqua;
	border: none;
	border-radius: 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	margin: 1rem 1rem;
	cursor: pointer;
}
.custom-home-button {
	background-color: rgb(0, 0, 0, 0.00001);
	color: aqua;
	border: none;
	border-radius: 1rem;
	text-align: right;
	text-decoration: none;
	/* display: inline-block; */
	position: relative;
	font-size: 1rem;
	margin: 1rem 1rem;
	cursor: pointer;
}
.custom-tag-button {
	background-color: rgb(0, 0, 0, 0.00001);
	color: aqua;
	border: none;
	border-radius: 1rem;
	text-align: center;
	text-decoration: none;
	/* display: inline-block; */
	font-size: 0.65rem;
	/* margin: 1rem 1rem; */
	font-family: 'Macondo', cursive;
	cursor: pointer;
}
.custom-author-button {
	background-color: rgb(0, 0, 0, 0.00001);
	color: aqua;
	border: none;
	border-radius: 1rem;
	text-align: center;
	text-decoration: none;
	/* display: inline-block; */
	font-size: 1.5rem;
	font-family: 'Macondo', cursive;
	/* margin: 1rem 1rem; */
	cursor: pointer;
}
.custom-category-button {
	background-color: rgb(0, 0, 0, 0.00001);
	color: aqua;
	border: none;
	border-radius: 1rem;
	text-align: center;
	text-decoration: none;
	/* display: inline-block; */
	font-size: 1rem;
	font-family: 'Macondo', cursive;
	/* margin: 1rem 1rem; */
	cursor: pointer;
}
.custom-input {
	border: 0.05rem solid aqua;
	border-radius: 1rem;
	padding: 0.05rem;
	font-size: 0.5rem;
	width: 100%;
	margin: 1rem 0.5rem;
	cursor: text;
}
.custom-input:focus {
	outline-color: blue;
	outline-style: groove;
}
.custom-button:hover {
	background-color: rgba(0, 255, 255, 0.616);
	color: rgb(3, 31, 32);
}
.custom-button:active {
	background-color: rgb(0, 255, 255, 0.5);
	color: black;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
