.App {
	text-align: left;
	min-height: 100vh;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	font-family: 'Macondo', cursive;
	justify-content: left;
	font-size: calc(10px + 2vmin);
	color: aqua;
}
.columns {
	display: grid;
	justify-content: left;
	grid-auto-flow: column;
	color: aliceblue;
	width: min(90%, 75rem);
}
.border-primary {
	border: 0.05rem solid aqua;
}
.tag-grid {
	display: grid;
	font-size: 0.75rem;
	grid-template-columns: repeat(6, minmax(5rem, 1fr));
}
.grid-col-span-2 {
	grid-column: span 2;
}
.card {
	font-size: var(--fs-400);
	padding: 1rem;
	border-radius: 2rem;
}
@media (max-width: 35em) {
	.card {
		font-size: 2.5rem;
	}
}
.card-quote {
	color: aliceblue;
	font-family: 'Inter';
	font-weight: 'bold';
}
.custom-button {
	background-color: rgb(0, 0, 0, 0.00001);
	color: aqua;
	border: none;
	border-radius: 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	margin: 1rem 1rem;
	cursor: pointer;
}
.custom-input {
	border: 0.05rem solid aqua;
	border-radius: 1rem;
	padding: 0.05rem;
	font-size: 0.5rem;
	margin: 1rem 0.5rem;
	cursor: text;
}
.custom-input:focus {
	outline-color: blue;
	outline-style: groove;
}
.custom-button:hover {
	background-color: rgba(0, 255, 255, 0.616);
	color: rgb(3, 31, 32);
}
.custom-button:active {
	background-color: rgb(0, 255, 255, 0.5);
	color: black;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
